/.DS_Store
/Case study instructions.pdf
/Deloitte
/LGD_exercises_07042025-checkpoint.ipynb
/cancer_detection.ipynb
/df_encoded.csv
/shap_summary_plot.png
/uwagi
/wykresy.ipynb
/~$Risk_Modeling_Client_Default_Classification.pptx